{% extends "ksc_page.html" %}

{% block blogcontent %}
<h2> Silly Toplevel Title </h2>
<h3> Jan 01, 2021 </h3>
<p>
This is silly toplevel content - really!! <b> YOU ALL NEED TO WORK ON THIS </b>
</p><p>
<h4> Key KSC considerations </h4>

<ul>
    <li> The membership will be expanded as we move ahead with building the platform </li>
    <li> A core a) scientific and b) operational team will be build-up </li>
    <li> The aim is to have membership open for all the scientists from the community working across
         the world in filed of Biological, Physical, Chemical and Medical research </li>
    <li> The focus will be to get  younger scientist connected through this platform </li>
</ul>
<center>
    <figure class="figure">
      <img src="/static/images/membership_structure.png" class="figure-img img-fluid rounded">
      <!--figcaption="">XXX</figcaption-->
    </figure>
</center>
</p><p>
<u><b>TODO LIST (Incomplete></b></u>
<ul>
    <li> Create multiple social media accounts </li>
    <li> Create a logo </li>
    <li> Create content </li>
    <li> Create People Page (Bio of Core Commitee Members) </li>
    <li> Donations/Payments Gateway </li>
    <li> ... </li>
</ul>

</p>
{% endblock %}
